<!doctype html>
<html class="no-js" lang="{{ page.lang }}">
<head>
{% include head.html %}
</head>

<body id="page">

{% include navigation.html %}

<div id="main" role="main">
	<article class="entry">

		{% include heading.html %}

    	<div class="entry-wrapper">
			{% include page-title.html %}

			<div class="entry-content">
        		{{ content }}
      		</div><!-- /.entry-content -->
    	</div><!-- /.entry-wrapper -->
  	</article>
</div><!-- /#main -->

{% include footer.html %}
{% include scripts.html %}

</body>
</html>
